In [1]:
import pandas as pd
import os
import glob
import numpy as np

In [3]:
HRD_scores = pd.read_csv('../data/HRD_scores_pan_cancer_annotated_v2.csv', sep=',', header = 0)

In [4]:
primary = HRD_scores[HRD_scores['Type'] == 'Primary']

In [17]:
current_OV = primary[primary['Project ID'] == 'TCGA-OV']

In [19]:
current_OV['smallSampleID'] = current_OV['Sample ID'].str[:-1]

/tmp/ipykernel_87560/1166452667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_OV['smallSampleID'] = current_OV['Sample ID'].str[:-1]

In [21]:
def checkMatches(list1,list2):
    set1 = set(list1)
    set2 = set(list2)
    
    matching = list(set1.intersection(set2))
    not_matching = list(set1.symmetric_difference(set2))

    return matching, not_matching

In [34]:
publication_data = pd.read_csv('../data/ov_tcga_pub_clinical_data.tsv', sep='\t', header = 0)
second_data = pd.read_csv('../data/ov_tcga_pan_can_atlas_2018_clinical_data.tsv', sep='\t', header = 0)

In [46]:
mut_kras = pd.read_csv('../data/mutations_kras_mut_hgsoc.txt', sep='\t', header = 0)
mut_pan_cancer = pd.read_csv('../data/mutations_pan_cancer.txt', sep='\t', header = 0)

In [39]:
mut_kras

        STUDY_ID        SAMPLE_ID KRAS
0    ov_tcga_pub  TCGA-13-1510-01   WT
1    ov_tcga_pub  TCGA-13-1404-01   WT
2    ov_tcga_pub  TCGA-13-1506-01   WT
3    ov_tcga_pub  TCGA-23-1116-01   WT
4    ov_tcga_pub  TCGA-13-1505-01   WT
..           ...              ...  ...
311  ov_tcga_pub  TCGA-59-2354-01   WT
312  ov_tcga_pub  TCGA-59-2351-01   WT
313  ov_tcga_pub  TCGA-59-2355-01   WT
314  ov_tcga_pub  TCGA-59-2352-01   WT
315  ov_tcga_pub  TCGA-57-1582-01   WT

[316 rows x 3 columns]

In [36]:
publi_list = list(publication_data['Sample ID'])
list_2018 = list(second_data['Sample ID'])
curr_list = list(current_OV['smallSampleID'])

In [63]:
print(len(curr_list))
print(len(publi_list))

556
489

In [40]:
matching, not_matching = checkMatches(curr_list,publi_list)
print(len(matching))
print(len(not_matching))

472
101

In [51]:
curr_list_filtered = [i for i in curr_list if i in not_matching]
publi_list_filtered = [i for i in publi_list if i in not_matching]

In [55]:
print(len(publi_list_filtered))
print(len(curr_list_filtered))

17
84

In [65]:
for id_ in curr_list_filtered:
    print(mut_pan_cancer[mut_pan_cancer['SAMPLE_ID'] == id_]['KRAS'])

109    WT
Name: KRAS, dtype: object
71    WT
Name: KRAS, dtype: object
234    WT
Name: KRAS, dtype: object
235    WT
Name: KRAS, dtype: object
9    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
74    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
31    WT
Name: KRAS, dtype: object
340    WT
Name: KRAS, dtype: object
252    WT
Name: KRAS, dtype: object
288    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
320    WT
Name: KRAS, dtype: object
258    WT
Name: KRAS, dtype: object
290    WT
Name: KRAS, dtype: object
339    WT
Name: KRAS, dtype: object
284    WT
Name: KRAS, dtype: object
1    WT
Name: KRAS, dtype: object
264    WT
Name: KRAS, dtype: object
257    WT
Name: KRAS, dtype: object
262    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
254    WT
Name: KRAS, dtype: object
336    WT
Name: KRAS, dtype: object
232    WT
Name: KRAS, dtype: object
28    G12V
Name: KRAS, dtype: object
255    WT
Name: KRAS, dtype: object
75    WT
Name: KRAS, dtype: object
266    WT
Name: KRAS, dtype: object
267    WT
Name: KRAS, dtype: object
26    G12V
Name: KRAS, dtype: object
250    WT
Name: KRAS, dtype: object
77    WT
Name: KRAS, dtype: object
154    WT
Name: KRAS, dtype: object
321    WT
Name: KRAS, dtype: object
338    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
248    WT
Name: KRAS, dtype: object
73    WT
Name: KRAS, dtype: object
12    WT
Name: KRAS, dtype: object
269    WT
Name: KRAS, dtype: object
233    WT
Name: KRAS, dtype: object
268    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
38    WT
Name: KRAS, dtype: object
259    WT
Name: KRAS, dtype: object
334    WT
Name: KRAS, dtype: object
260    WT
Name: KRAS, dtype: object
272    WT
Name: KRAS, dtype: object
32    WT
Name: KRAS, dtype: object
76    WT
Name: KRAS, dtype: object
173    WT
Name: KRAS, dtype: object
265    WT
Name: KRAS, dtype: object
19    WT
Name: KRAS, dtype: object
263    WT
Name: KRAS, dtype: object
16    WT
Name: KRAS, dtype: object
346    WT
Name: KRAS, dtype: object
108    WT
Name: KRAS, dtype: object
389    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
270    WT
Name: KRAS, dtype: object
253    WT
Name: KRAS, dtype: object
70    WT
Name: KRAS, dtype: object
286    WT
Name: KRAS, dtype: object
326    WT
Name: KRAS, dtype: object
231    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
Series([], Name: KRAS, dtype: object)
335    WT
Name: KRAS, dtype: object
276    WT
Name: KRAS, dtype: object
256    WT
Name: KRAS, dtype: object
110    WT
Name: KRAS, dtype: object
285    WT
Name: KRAS, dtype: object
249    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
236    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
Series([], Name: KRAS, dtype: object)
337    WT
Name: KRAS, dtype: object
Series([], Name: KRAS, dtype: object)
283    WT
Name: KRAS, dtype: object
301    WT
Name: KRAS, dtype: object
251    WT
Name: KRAS, dtype: object

In [37]:
matching, not_matching = checkMatches(curr_list,list_2018)
print(len(matching))
print(len(not_matching))

552
37